:root {
    --color-bg: #FFFFFF;
    --color-1: #48ABE9;
    --color-2: #E7EDFC;
    --color-3: #323232;
    --color-4: #777E91;
    --color-5: #A1ABC5;
    --color-6: #E5E6E9;
    --color-red: #FF2D2D;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 90%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

/* ============ GENERAL ======================== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;
    color: var(--color-3);
    overflow-x: hidden;
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin:auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6, h7, p {
    color: var(--color-3);
    line-height: 1.3;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 700;
}

h3{
    font-size: 1.313rem;
    margin: 0.8rem 0 0.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}


h6 {
    font-size: 0.75rem;
    font-weight: 700;
}

h7 {
    font-size: 0.75rem;
    font-weight: 400;
}

a {
    color: var(--color-1);
    transition: var(--transition)
}

p {
    line-height: 24px;
}

img {
    display: block;
    object-fit: cover;
}

button {
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: var(--color-bg);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.btn_PrimaryBig {
    background: var(--color-1);
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--color-bg);
    font-size: 16px;
    font-weight: 700;
    width: auto;
}

.btn_PrimarySmall {
    background: var(--color-1);
    padding: 12px 24px;
    color: var(--color-bg);
    font-size: 12px;
    font-weight: 700;
    width: auto;
}

.btn_SecondarySmall {
    background: var(--color-bg);
    padding: 12px 24px;
    color: var(--color-1);
    border:  1px solid var(--color-1); 
    font-size: 12px;
    font-weight: 700;
}

.btn_SecondaryDisable {
    background: var(--color-5);
    padding: 12px 24px;
    color: var(--color-bg);
    font-size: 12px;
    font-weight: 700;
}

hr {
    width: 100%;
    border: 0.5px solid var(--color-6);
}

.vl {
  border-left: 1px solid var(--color-5);
  height: auto;
}

.dropdown {
    position: relative;
    width: 200px;
}

.dropdown:hover .dropdown-List {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    display: flex;
    flex-direction: row;
    top: 118%;
    left: 0;
    right: 0;
    
    align-items:center;
    justify-content: space-between;
    padding: 16px 24px;
    gap: 16px;

    width: 200px;
    height: 56px;

    border: 1px solid var(--color-6);
    border-radius: 10px;
    cursor: pointer;
    
    font-size: 14px;
    color: var(--color-4);
}

.dropdown-List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: absolute;

    width: 200px;
    height: auto;
    left: 100px;
    top: 226px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    background: var(--color-bg);

    box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
    border-radius: 0px 0px 12px 12px;
}

.dropdown-List_item {
    padding: 16px;
    font-size: 14px;
}

/* ============ NAV ======================== */

nav {
    background: var(--color-bg);
    position: fixed;
    width: 100vw;
    height: 4.5rem;
    z-index: 10;
    top: 0px;
    box-shadow: 0px 2px 80px 1px #F7F7F7;
    padding: 40px 80px;
}

.nav_container {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.logo {
    width: 88px;
    height: auto;
}

.nav_items {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.nav_items a {
    display: flex;
    align-items: center;
    column-gap: 32px;
    color: var(--color-4);
}

.nav_items a.selected {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: var(--color-1);
    font-weight: bold;
}

.nav_profile {
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    width: 200px;
    height: 200px;
    gap: 12px
    box-shadow: 0px 2px 40px 1px #F7F7F7;
    background: var(--color-bg);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    border-radius: 0px 0px 12px 12px;
}

/* SHOW NAV UL WHEN NAV PROFILE IS HOVERED */

.nav_profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li a {
    padding: 16px;
    background: var(--color-bg);
    display: block;
    width: 100%;
    border-radius: 0.8rem
}

/* ============ INDEX (TITLE) ======================== */

.form_KV {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    position: static;
    gap: 80px;
    
}

.Big_Title {
    margin-top: 40px;
}

.Big_Title h1 {
    font-size: 40px;
    font-weight: bolder;
}

.Big_Title p {
    font-size: 21px;
    color: var(--color-3);
    line-height: 32px;
}

/* ============ INDEX (GENERAL FORM) ======================== */

.form_section-container {
    width: 100%;
}

.form_section {
    display: grid;
    align-items: flex-start;
    width: var(--form-width);
}

.form_set {
    display: block; 
    width: 100%;
}

.form_set h4{
    margin-bottom: 0.5rem;
}

.alert_message.error {
    color: brown;
}

.alert_message.success {
    color: var(--color-1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea, select {
    padding: 16px 24px;
    background-color: var(--color-bg);
    border: 1px solid Var(--color-5); 
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-3);
    width: 100%;
    font: var(body1_regular);
}

input[type=text]:disabled {
  background: var(--color-6);
}

input[type=date]:disabled {
  background: var(--color-6);
}

input[type=email]:disabled {
  background: var(--color-6);
}

input[type=number]:disabled {
  background: var(--color-6);
}

select:disabled {
  background: var(--color-6);
}

.form_section small {
    margin-top: 1rem;
    display: block;
}

.form_section small a {
    color: var(--color-1);
}

.button_andtext {
    display: grid; 
    gap: 4px;
}

.button_andtext small {
    color: var(--color-4);
    width: 100%;
    text-align: center;
}

/* ============ FAQ ======================== */

.FAQ_items {
    display: grid;
    place-items: start;
    padding-bottom: 24px;
    padding-left: 18.75rem;
    padding-right: 18.75rem;
    width: 100%;
}

.accordion {
    background-color: var(--color-bg);
    color: var(--color-3);
    cursor: pointer;
    padding: 24px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: var(--color-bg);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: var(--color-bg);
    max-height: 0;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    transition: max-height 0.2s ease-out;
}


/* ============ FOOTER ======================== */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;
  padding-top: 100px;
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    padding: 16px 100px;
    align-items: center;
    background-color: var(--color-3);
    position: static;
    bottom: 0;
    height: 150px;
}

footer p {
    color:  var(--color-bg);
    font-size: 0.75rem;
}

footer a {
    color:  var(--color-bg);
    font-size: 0.75rem;
}

.Title {
    font-weight: 700;
}

.main_content h4 {
    color: var(--color-1);
}

.content_info {
    display: grid;
    padding: 0px;
    gap: 24px;
    width: 100%;
}

.content_infoInside {
    display: grid;
    padding: 0px;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

/* ============ SIDE NAV ADMIN ======================== */

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 80px 1px #F7F7F7;
    overflow-x: hidden;
    padding: 40px 24px;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: var(--color-4);
    display: block;
}

.img_sideNav {
    padding-bottom: 24px;
}

.sidenav a:hover {
    color: var(--color-1);
}

.sidenav a.selected {
    color: var(--color-1);
    font-weight: 700;
}

.main {
    margin-left: 280px; /* Same as the width of the sidenav */
    margin-top: 40px;
    margin-right: 56px;
    font-size: 14px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.main_title {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    width: 100%;
    align-items: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ============ TABLE ======================== */

table {
    width: 100%;
    text-align: left;
    background: var(--color-bg);
    box-shadow: 0px 2px 40px 1px #F7F7F7;
    padding: 8px 16px;
    margin-top: 24px;
}

table th {
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    text-align: left;
    width: 200px;
    border-bottom: 1px solid var(--color-6);
}

.hide {
    color: var(--color-bg);
}

table tr {
    font-size: 14px;
    padding: 24px;
    text-align: left;
    width: 200px;
    vertical-align: top;
}

table td {
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-6);
}

tr:last-child {
    border-bottom: none;
}

.action_button {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 12px;
    align-items:flex-start;
}

/* ============ POP UP ACTION ======================== */

.div1_Popup {
    position: absolute;
    margin: auto auto;
    padding: 20px;
    background: var(--color-bg);
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    
    border-radius: 16px;
}

.action_button2 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 16px;
    align-items:flex-end;
}

.radio_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.div2_Popup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.div2_Popup h4 {
    width: 180px;
}

.div2_Popup input, textarea, select {
    width: 500px;
    font-family: 'DM Sans', sans-serif;
}

/* ============ SEARCH PEOPLE OF ALEPH ID ======================== */

.search_by {
    margin-top: 24px;
    margin-left: 80px;
    margin-right: 80px;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.search_by input {
    width: 400px;
    height: 42px;
    
    border: 1px solid var(--color-6);
    border-radius: 10px;
    font-size: 14px;
    color: var(--color-5);
    font-family: 'DM Sans', sans-serif;
}

.filter_by {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 500px;
    height: 48px;
}

.filter_by p{
    color: var(--color-4);
}

/* ============ CUSTOM SELECT ======================== */
.custom-select {
    position: relative;
    font-family: 'DM Sans', sans-serif;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
    border: 1px solid var(--color-6);
    border-radius: 10px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-5) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--color-5) transparent;
  top: 12px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: var(--color-4);
  padding: 8px 16px;
  background: var(--color-bg);
    
  border: 1px solid var(--color-6);
  border-radius: 12px
  box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
  
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
  border-radius: 12px
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.empty_state {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 100%;
    left: 499px;
    top: 298px;
    margin-top: 16px;
}

.empty_state p {
    color: var(--color-4)
}

/* ============ SEARCH RESULTS ======================== */

.search_result {
    margin-left: 80px;
    margin-right: 80;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card_searchResult {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    padding: 40px 56px;
    gap: 64px;
    width: 1110px;
    
    background: var(--color-bg);

    box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
    border-radius: 18px;
}

.section_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
    gap: 24px;

    width: 400px;
    height: 100%;

    background: var(--color-2);

    border-radius: 12px;
}

.section_profile_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.section_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
}

.title-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 200px;
}

.details1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.detailsRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.projects_profile {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

/* ============ DASHBOARD CONTENT ======================== */
.KV_Dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 100px;
    height: 350px;
    gap: 56px;
}

.Headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.dashboard_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    
    margin-left: 80px;
    margin-right: 80px;
}

.dashboard-contentItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.dashboard-card {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 500px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.dashboard-card a {
    font-weight: bold;
}

.dashboard-card small {
    color: var(--color-4);
}

.dashboard-title p {
    color: var(--color-4);
    font-weight: bold;
}

.dashboard-cardItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    width: 350px;
    height: auto;
}


.dashboard-card img {
    width: 320px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
}

/* ============ Project Lists ======================== */

.dashboard-project {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    grid-column-gap: 56px;
    grid-row-gap: 56px;
}

/* Project item default */
.dashboard-projectItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Project item with border selection */
.dashboard-projectItems-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0 0 12px;
    
    border: 1px solid var(--color-5);
    border-radius: 12px;
}

/* Project item with delete icon */
.edit_project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.dashboard-projectItems p {
    font-weight: bold;
    color: var(--color-1);
}

/* Logo Big Size */
.project_logo {
    padding: 40px;
}

/* Logo Small Size */
.project_logo_small {
    padding: 16px;
}

.project_details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: auto;
}

/* ============ TAB ======================== */

.dashboard_KV {
    width: 100vw;
    height: 500px;
    object-fit: fit;
    padding-bottom: 48px;
}

/* ============ TAB ======================== */
.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 80px;
}

.tab p {
    width: 380px;
    color: var(--color-5);
    font-size: 16px;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-5);
}

.tab a {
    color: var(--color-5);
}

.tab p.selected {
    width: 380px;
    color: var(--color-1);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 2.5px solid var(--color-1);
}

/* ============ PROFILE-1 ======================== */
.content-tab{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 48px;
    gap: 32px;
    width: 100%
}

.name_department {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.details {
    display: block;
}

.form_set2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-bottom: 24px;
    width: 100%;
}

.form_set2 input {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

.form_set_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}

.edit_project_set {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-column-gap: 56px;
    grid-row-gap: 56px;
    
    margin-bottom: 32px;
}

.add_project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;

    border: 1px solid var(--color-3);
    border-radius: 8px;
}

.add_project button {
    background: var(--color-bg);
    gap: 16px;
}

.add_project p {
    color: var(--color-5);
}

/* ============ PROFILE-2 ======================== */
.content-tab-2 {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content-tab-2-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.content-tab-2-items p {
    width: 123px;
}

.confidentialInfo_AlephInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    gap: 24px;
}

.confidentialInfo_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

/* ============ PROFILE-3 ======================== */
.content-tab-3 {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
}

.content-tab-3 h1 {
    color: var(--color-1);
}

.leave {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 40px;
}

.leave_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 100%;
}

.leaveInfo_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;

    background: var(--color-bg);

    box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
    border-radius: 16px;
}

.leave_total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;

    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
    border-radius: 16px;
}

/* ============ ACCOUNT SETTINGS ======================== */

.account_settings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 32px; 
    padding-left: 300px;
    padding-right: 300px;
    gap: 100px;
}

.admin_account {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 100px;
}

.change_password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.change_password h3 {
    width: 100%; 
}

/* ============ MODAL ======================== */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--color-bg);
  margin: auto;
  padding: 24px;
  width: 80%;
  border-radius: 16px;
}

.modal-content_short {
  background-color: var(--color-bg);
  margin: auto;
  padding: 24px 48px;
  width: 800px;
  border-radius: 16px;
}

/* The Close Button */
.close {
  color: var(--color-4);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ============ MODAL CONTENT - ADD PROJECT ======================== */

.modal-content-addProject {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.modal-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 46px;
}

.add_project_set {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

/* ============ ADMIN - PROFILE ======================== */

.cardProfile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    gap: 16px;

    background: var(--color-bg);

    box-shadow: 0px 10px 40px 1px rgba(59, 59, 59, 0.08);
    border-radius: 12px;
}

.cardProfile_set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: 24px;
}

.search_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.search_profile input {
    width: 400px;
    height: 42px;
    
    background: var(--color-bg);
    border: 1px solid var(--color-6);
    border-radius: 10px;
    font-size: 14px;
    color: var(--color-5);
    font-family: 'DM Sans', sans-serif;
}

/* ============ ADMIN - PROFILE DETAILS ======================== */
.navigation_adminUP {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--color-bg);
    
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0px;
    box-shadow: 0px 2px 80px 1px #F7F7F7;
    padding-bottom: 0px;
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
}

.header_small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
}

.bottom_button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 2px 40px 1px #F7F7F7;
    background: var(--color-bg);
    padding-right: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}